In [1]:
% matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# ML libraries inladen
from sklearn import linear_model
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import Ridge
from sklearn.feature_selection import f_regression
from sklearn.covariance import EllipticEnvelope
# Voor statistische data visualisatie
import seaborn as sns; sns.set(color_codes=True)

In [2]:
dataset = pd.read_csv('Output.csv')
dataset = shuffle(dataset)


dataset.head(10)

,Player,Class,Season,Position,School,Games,FG,2P,3P,FT,...,Cal State Bakersfield,Houston Baptist,Northeastern Illinois,Northern Kentucky,Binghamton,Abilene Christian,Seattle,Birmingham-Southern,Morris Brown,Picked
544,Jimmy King\jimmy-king-1,Big Ten,3,NaN,Michigan,32,47,53,32,66,...,0,0,0,0,0,0,0,0,0,1
100,Damian Lillard\damian-lillard-1,Big Sky,4,NaN,Weber State,26,45,49,39,87,...,0,0,0,0,0,0,0,0,0,1
2188,Jamal Brown\jamal-brown-1,CUSA,2,NaN,Texas Christian,28,44,45,0,72,...,0,0,0,0,0,0,0,0,0,0
1656,Cameron Black\cameron-black-1,MAC,4,NaN,Bowling Green State,31,51,51,0,47,...,0,0,0,0,0,0,0,0,0,0
671,Ryan Robertson\ryan-robertson-1,Total,4,NaN,Kansas,35,44,48,41,79,...,0,0,0,0,0,0,0,0,0,1
1655,David Huertas\david-huertas-1,SEC,4,NaN,Total,25,40,45,36,80,...,0,0,0,0,0,0,0,0,0,0
0,Doug McDermott\doug-mcdermott-1,Total,4,NaN,Creighton,36,55,59,46,83,...,0,0,0,0,0,0,0,0,0,1
575,Nate Erdmann\nate-erdmann-1,Total,4,NaN,Total,21,47,54,39,73,...,0,0,0,0,0,0,0,0,0,1
664,Josh Childress\josh-childress-1,Pac-10,3,NaN,Stanford,28,44,49,33,75,...,0,0,0,0,0,0,0,0,0,1
2075,Rob Haskins\rob-haskins-1,A-10,4,NaN,Saint Joseph's,26,39,40,35,53,...,0,0,0,0,0,0,0,0,0,0

In [3]:
dataset.describe(
)

,Season,Position,Games,FG,2P,3P,FT,TRB,AST,STL,...,Cal State Bakersfield,Houston Baptist,Northeastern Illinois,Northern Kentucky,Binghamton,Abilene Christian,Seattle,Birmingham-Southern,Morris Brown,Picked
count,2572.000000,0.0,2572.000000,2572.000000,2572.000000,2572.000000,2572.000000,2572.000000,2572.000000,2572.000000,...,2572.0,2572.000000,2572.000000,2572.000000,2572.000000,2572.0,2572.0,2572.000000,2572.0,2572.000000
mean,3.066096,NaN,28.297434,46.134914,49.363142,26.510886,69.120529,133.243779,53.309098,26.827372,...,0.0,0.000389,0.000389,0.000389,0.000389,0.0,0.0,0.001166,0.0,0.500000
std,1.218100,NaN,5.278088,6.785947,6.462856,14.941097,9.593501,74.876276,44.118953,16.658365,...,0.0,0.019718,0.019718,0.019718,0.019718,0.0,0.0,0.034139,0.0,0.500097
min,1.000000,NaN,6.000000,27.000000,26.000000,0.000000,25.000000,9.000000,1.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000
25%,2.000000,NaN,26.000000,41.000000,45.000000,22.000000,63.000000,76.000000,22.000000,14.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000
50%,3.000000,NaN,29.000000,45.000000,49.000000,32.000000,70.000000,119.000000,40.000000,23.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.500000
75%,4.000000,NaN,32.000000,50.000000,54.000000,37.000000,76.000000,180.000000,70.000000,36.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,1.000000
max,6.000000,NaN,40.000000,69.000000,73.000000,100.000000,92.000000,418.000000,290.000000,106.000000,...,0.0,1.000000,1.000000,1.000000,1.000000,0.0,0.0,1.000000,0.0,1.000000

In [4]:


features =  list(dataset.columns[5:dataset.columns.size-1])
X = dataset[features].values 
y= dataset['Picked'].values

print(features)

['Games', 'FG', '2P', '3P', 'FT', 'TRB', 'AST', 'STL', 'BLK', 'PTS', 'Creighton', "Saint Peter's", 'North Carolina', 'Duke', 'Brigham Young', 'New Orleans', 'Davidson', 'Boston College', 'Eastern Illinois', 'College of Charleston', 'Virginia Military Institute', 'Utah', 'Centenary (LA)', 'Utah State', 'Hofstra', 'Oral Roberts', 'Missouri-Kansas City', 'Ball State', 'Notre Dame', 'Vermont', 'Evansville', 'Nevada', 'Texas-El Paso', 'North Florida', 'Total', 'Santa Clara', 'Morehead State', 'Stanford', 'Lehigh', 'South Dakota State', 'Oakland', 'Valparaiso', 'Louisiana-Lafayette', 'Chicago State', 'Detroit Mercy', 'Boston University', 'East Tennessee State', "Mount St. Mary's", 'Oklahoma', 'Northeastern', 'Tulsa', 'Mercer', 'IUPUI', 'Baylor', 'Wagner', 'Maryland', 'Austin Peay', 'Texas Tech', 'Virginia Tech', 'North Texas', 'George Washington', 'Murray State', 'Villanova', 'Western Kentucky', 'High Point', 'Iowa State', 'Georgia Tech', 'Michigan', 'Delaware', 'Wisconsin', 'Penn State', 'Liberty', 'Eastern Michigan', 'Niagara', 'Tulane', 'San Diego State', 'North Carolina-Greensboro', 'Appalachian State', 'Massachusetts', 'Louisville', "St. John's (NY)", 'William & Mary', 'Loyola Marymount', 'Wyoming', 'Richmond', 'Albany (NY)', 'Coppin State', 'NJIT', 'Campbell', 'Seton Hall', 'Cincinnati', 'North Carolina-Wilmington', 'Providence', 'Purdue', 'Kansas State', 'Stony Brook', 'Xavier', 'Tennessee', 'South Carolina Upstate', 'La Salle', 'Western Michigan', 'Marist', 'South Carolina', 'Syracuse', 'Wake Forest', 'Old Dominion', 'Ohio', 'St. Bonaventure', 'Indiana', 'Temple', 'Illinois-Chicago', 'Kansas', 'Green Bay', 'West Virginia', 'UCLA', "Saint Joseph's", 'Bryant', 'Sacred Heart', 'Virginia', 'Weber State', 'Winthrop', 'Oklahoma State', 'Colgate', 'Michigan State', 'Grambling', 'Nicholls State', 'Citadel', 'Kennesaw State', 'Morgan State', 'Rider', 'San Diego', 'Arizona State', 'Brown', 'North Carolina State', 'Northwestern', 'Connecticut', 'Bucknell', 'Iona', 'Texas A&M-Corpus Christi', 'Florida', 'Northwestern State', 'Army', 'Fresno State', 'Cornell', 'Drexel', 'Mississippi', 'Tennessee Tech', 'South Florida', 'Hartford', 'Rice', 'Furman', 'Wofford', 'Southern Illinois', 'Vanderbilt', 'Cal Poly', 'North Dakota', 'Charlotte', 'Buffalo', 'Washington State', 'Monmouth', 'Lipscomb', 'Colorado', 'Prairie View', 'Northern Illinois', 'Western Carolina', 'UC-Irvine', 'New Mexico', 'Southern Methodist', 'Holy Cross', 'Youngstown State', 'Ohio State', 'Texas A&M', 'Louisiana State', 'Louisiana Tech', 'Marquette', 'Arizona', 'Central Florida', 'Cleveland State', 'Florida Atlantic', 'Texas Southern', 'Jacksonville', 'Oregon', 'Texas', 'Charleston Southern', 'Central Connecticut State', 'Toledo', 'Dayton', 'Cal State Fullerton', 'Cal State Northridge', 'George Mason', 'Virginia Commonwealth', 'Illinois', 'Butler', 'Boise State', 'McNeese State', 'Siena', 'Bowling Green State', 'Loyola (IL)', 'Howard', "Saint Mary's (CA)", 'Kentucky', 'Maryland-Eastern Shore', 'Texas-San Antonio', 'Belmont', 'Georgetown', 'Rhode Island', 'South Alabama', 'Radford', 'Memphis', 'Tennessee State', 'DePaul', 'Western Illinois', 'Coastal Carolina', 'Longwood', 'Central Michigan', 'Pittsburgh', 'Washington', 'Robert Morris', 'Fairfield', 'Long Island University', 'Alabama', 'Georgia Southern', 'Missouri State', 'Gonzaga', 'Miami (FL)', 'Montana State', 'New Mexico State', 'Iowa', 'Miami (OH)', 'Manhattan', 'IPFW', 'Long Beach State', 'Wright State', 'Clemson', 'Wichita State', 'Illinois State', 'Lafayette', 'University of California', 'Florida Gulf Coast', 'Fordham', 'Texas Christian', 'Eastern Kentucky', 'Duquesne', 'Canisius', 'Stetson', 'Samford', 'Kent State', 'Georgia State', 'Norfolk State', 'San Francisco', 'Eastern Washington', 'Marshall', 'Florida State', 'Drake', 'Milwaukee', 'Northern Iowa', 'Pepperdine', 'Navy', 'North Carolina-Asheville', 'Missouri', 'Middle Tennessee', 'South Carolina State', 'Arkansas', 'Minnesota', 'Pennsylvania', 'Jackson State', 'Hampton', 'Columbia', 'North Dakota State', 'Oregon State', 'Stephen F. Austin', 'Air Force', 'Texas-Rio Grande Valley', 'Tennessee-Martin', 'UC-Santa Barbara', 'Quinnipiac', 'Nevada-Las Vegas', 'Alabama A&M', 'Delaware State', 'Bradley', 'St. Francis (NY)', 'Southern', 'Portland', 'Denver', 'Loyola (MD)', 'Yale', 'Saint Francis (PA)', 'Maryland-Baltimore County', 'Southern Mississippi', 'Rutgers', 'Sam Houston State', 'Saint Louis', 'Montana', 'Pacific', 'Gardner-Webb', 'Alcorn State', 'Southern California', 'Maine', 'American', 'Dartmouth', 'Northern Arizona', 'Central Arkansas', 'Mississippi State', 'Colorado State', 'Fairleigh Dickinson', 'Nebraska', 'Georgia', 'Idaho', 'Elon', 'Princeton', 'Texas State', 'Southeast Missouri State', 'Arkansas-Little Rock', 'Florida International', 'Alabama State', 'Louisiana-Monroe', 'East Carolina', 'Akron', 'Northern Colorado', 'Southern Utah', 'Indiana State', 'New Hampshire', 'Auburn', 'Utah Valley', 'James Madison', 'Idaho State', 'Alabama-Birmingham', 'Troy', 'North Carolina Central', 'Houston', 'Harvard', 'UC-Riverside', 'Towson', 'Portland State', 'Jacksonville State', 'Sacramento State', 'North Carolina A&T', 'Lamar', 'Texas-Arlington', 'Arkansas State', 'Hawaii', 'Chattanooga', 'Savannah State', 'UC-Davis', 'Arkansas-Pine Bluff', 'Florida A&M', 'Southeastern Louisiana', 'Mississippi Valley State', 'South Dakota', 'Incarnate Word', 'Nebraska-Omaha', 'Grand Canyon', 'Bethune-Cookman', 'Presbyterian', 'Southern Illinois-Edwardsville', 'Massachusetts-Lowell', 'San Jose State', 'Cal State Bakersfield', 'Houston Baptist', 'Northeastern Illinois', 'Northern Kentucky', 'Binghamton', 'Abilene Christian', 'Seattle', 'Birmingham-Southern', 'Morris Brown']

In [5]:


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state =100)
print(X_train)
print(y_train)

[[32 45 52 ...,  0  0  0]
 [29 53 53 ...,  0  0  0]
 [31 45 51 ...,  0  0  0]
 ...,
 [30 55 55 ...,  0  0  0]
 [33 66 67 ...,  0  0  0]
 [28 46 49 ...,  0  0  0]]
[1 1 1 ..., 1 0 0]

In [6]:
lregmodel = linear_model.LinearRegression()
lregmodel.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [7]:

print('coeffs: ',lregmodel.coef_)
print('intercept', lregmodel.intercept_)

coeffs:  [ -8.04828968e-03   6.88949566e-03  -9.41355567e-04   6.86092831e-04
   2.85814759e-04   1.87940343e-04   7.28308275e-04   1.54378209e-03
   4.15575712e-03   1.07222348e-03   4.74939936e+03   4.74920478e+03
   4.74967131e+03   4.74958028e+03   4.74950474e+03   4.74899371e+03
   4.74915234e+03   4.74953885e+03   4.74939817e+03   4.74943645e+03
   4.74893090e+03   4.74944480e+03   4.74909262e+03   4.74940196e+03
   4.74955600e+03   4.74888354e+03   4.74938332e+03   4.74943655e+03
   4.74944019e+03   4.74892198e+03   2.58023214e+09   4.74939107e+03
   4.74942709e+03   4.74888228e+03   4.74936134e+03   4.74894935e+03
   4.74903457e+03   4.74974591e+03   4.74919476e+03   4.74911107e+03
   4.74923783e+03   4.74939792e+03   4.74916050e+03   4.74886220e+03
   4.74933174e+03   4.74906137e+03   4.74907145e+03   4.74906716e+03
   4.74957079e+03   4.74928894e+03   4.74916172e+03   4.74945310e+03
   4.74915438e+03   4.74955928e+03   4.74926701e+03   4.74963265e+03
   4.74936771e+03   4.74937340e+03   4.74955898e+03   4.74952545e+03
   4.74931429e+03   4.74936596e+03   4.74947765e+03   4.74924658e+03
   4.74907047e+03   4.74946163e+03   4.74961079e+03   4.74969197e+03
   4.74954557e+03   4.74957645e+03   4.74950448e+03   4.74887661e+03
   4.74915447e+03   4.74956742e+03   4.74915421e+03   4.74930515e+03
   4.74907074e+03   4.74890578e+03   4.74960515e+03   4.74948928e+03
   4.74940554e+03   4.74930317e+03   4.74900662e+03   4.74902889e+03
   4.74942961e+03   4.74911156e+03   4.74926080e+03   4.74893841e+03
   4.74970776e+03   4.74927982e+03   4.74958694e+03   6.99948805e+08
   4.74968319e+03   4.74967780e+03   4.74936955e+03   4.74913937e+03
   4.74943539e+03   4.74957787e+03   1.43882291e+09   4.74918220e+03
   4.74904539e+03   4.74903676e+03   4.74960269e+03   4.74959072e+03
   4.74951065e+03   4.74984529e+03   4.74915804e+03   4.74921987e+03
   4.74950012e+03   4.74938758e+03   4.74909366e+03   4.74965514e+03
   4.74923907e+03   4.74940088e+03   4.74961396e+03   4.74934572e+03
   4.74873590e+03   4.74930190e+03   4.74956599e+03   4.74918343e+03
   4.74943596e+03   4.74933861e+03   4.74906962e+03   4.74974918e+03
   4.75002662e+03   4.74931827e+03   4.74898770e+03   1.16348542e+09
   4.74912141e+03   4.74951796e+03   4.74901472e+03   4.74931870e+03
   4.74909980e+03   4.74957055e+03   4.74914009e+03   4.74965003e+03
   4.74913872e+03   4.74878845e+03   4.74948438e+03   4.74962503e+03
   4.74897958e+03   4.74931118e+03   4.74945065e+03   4.74904433e+03
   4.74902514e+03   4.74949701e+03   4.74924443e+03   4.74933374e+03
   4.74908307e+03   4.74895877e+03   4.74915502e+03   4.74916259e+03
   4.74896694e+03   4.74951780e+03   4.74911830e+03   8.22686260e+08
   4.74942601e+03   4.74901695e+03   4.74942848e+03   2.63449159e+08
   4.74901058e+03   4.74944642e+03   4.74915568e+03   4.74910479e+03
   4.74916176e+03   4.74891953e+03   4.74938343e+03   4.74923252e+03
   4.74919503e+03   4.74911936e+03   4.74938275e+03   4.74939830e+03
   4.74949588e+03   4.74926877e+03   4.74955598e+03   4.74969526e+03
   4.74928460e+03   4.74966385e+03   4.74926993e+03   4.74898196e+03
   4.75006852e+03   4.74965128e+03   4.74958955e+03   4.74903496e+03
   4.74961908e+03   4.74934054e+03  -9.99200722e-16   4.74944810e+03
   4.74943542e+03   4.74946621e+03   4.74938229e+03   4.74936369e+03
   4.74927324e+03   4.74870101e+03   4.74909620e+03   4.74911331e+03
   4.74926013e+03   4.74962333e+03   4.74908086e+03   4.74927761e+03
   4.74964705e+03   4.74943098e+03   4.74894080e+03   4.74893622e+03
   4.74960632e+03   4.74975379e+03   4.74932289e+03   4.74938750e+03
   4.74952024e+03   4.74917204e+03   4.74953128e+03   4.74898260e+03
   4.74916741e+03   4.74908986e+03   4.74909420e+03   4.74959705e+03
   4.74950472e+03   4.74905221e+03   4.74935428e+03   4.74909090e+03
   4.74961756e+03   4.74952884e+03   4.74902208e+03   4.74945733e+03
   4.74946627e+03   4.74897566e+03   4.74910723e+03   4.74951417e+03
   4.74930456e+03   4.74898907e+03   4.74893231e+03   4.74942830e+03
   4.74959263e+03   4.74950154e+03   4.74915783e+03   4.74912063e+03
   4.74914325e+03   4.74957652e+03   4.74882442e+03   4.74909376e+03
   4.74889513e+03   4.74931788e+03   4.74933962e+03   4.74921406e+03
   4.74928127e+03   4.74943205e+03   4.74967242e+03   4.74912800e+03
   4.74955392e+03   4.74909777e+03   4.74924909e+03   4.74920621e+03
   4.74962825e+03   4.74909922e+03   4.74890724e+03  -5.55111512e-17
   4.74933791e+03   4.74919922e+03   4.74906625e+03   4.74984625e+03
   4.74892778e+03   4.74939906e+03   4.74943907e+03   4.74949476e+03
   4.74922574e+03   4.74919607e+03   4.74909408e+03   4.74931789e+03
   4.74910990e+03   4.74951187e+03   4.74925706e+03  -5.55111512e-16
   4.74911604e+03   4.74968521e+03   4.74888518e+03   4.74887658e+03
   4.74938581e+03   4.74931924e+03   4.74918788e+03   4.74925845e+03
   4.74957116e+03   4.74923144e+03   4.74889076e+03  -7.28583860e-16
   4.74920124e+03   4.74958176e+03   4.74921935e+03   4.74926658e+03
   4.74879638e+03   4.74924900e+03   4.74934725e+03   4.74919096e+03
   4.74963773e+03   4.74970186e+03   2.77555756e-16   4.74940818e+03
   4.74940407e+03   4.74901545e+03   4.74900262e+03   4.74923012e+03
   4.74941365e+03  -5.55111512e-17   4.74930597e+03   4.74958589e+03
   4.74900194e+03   4.74943158e+03   4.74964590e+03   4.74923553e+03
  -3.46944695e-17   4.74901468e+03   4.74922934e+03   4.74927722e+03
   4.74911300e+03  -9.15933995e-16   4.74930920e+03   4.74902021e+03
   4.74892065e+03   4.74904072e+03   4.74955567e+03   4.74904519e+03
   4.74902455e+03   6.66133815e-16   4.74929751e+03   7.82387393e-17
   4.74899544e+03   4.74903412e+03   4.74889997e+03   4.74932153e+03
   4.74884090e+03   4.74943370e+03   4.74940695e+03   4.74900379e+03
   4.74906824e+03   4.74891923e+03  -2.77555756e-17   4.74910645e+03
   4.74932000e+03   4.74883975e+03   4.74896801e+03   4.74901176e+03
   4.74908232e+03   4.74922810e+03   5.55111512e-17   0.00000000e+00
   4.74914544e+03   4.74913889e+03   4.74927941e+03   4.74935515e+03
   4.74903859e+03   4.74913325e+03   1.11022302e-16   4.74866783e+03
   4.74948659e+03   4.74888254e+03   4.74865466e+03   4.74903239e+03
   4.74918317e+03   0.00000000e+00   4.74880893e+03   4.74961121e+03
   4.74932045e+03   4.74887683e+03   0.00000000e+00   0.00000000e+00
   4.74993053e+03   0.00000000e+00]
intercept -4749.4740693

In [8]:
y_predicted = lregmodel.predict(X_test)

## Mean Absolute Error
from sklearn.metrics import mean_absolute_error

MAE = mean_absolute_error(y_test,y_predicted)
print('MAE = ',MAE)

## Mean Squared Error
from sklearn.metrics import mean_squared_error

MSE = mean_squared_error(y_test,y_predicted)
print('MSE = ',MSE)

## coefficient of determination = r2 score
from sklearn.metrics import r2_score

r2 = r2_score(y_test,y_predicted)

print('r2 score = ',r2)

MAE =  23313304.2162
MSE =  4.74676728288e+16
r2 score =  -1.89877134502e+17